@charset "utf-8";
body
{
    margin:0px;
    padding:0px;
    font-family:Helvetica,Arial,sans-serif;
    background-color:#dedede;
    background-image:url(/themes/default/images/bg-left.png);
    background-repeat:repeat-x;
    background-attachment:fixed;
}
                                                /************************************** NEW Content ******************************************/
#master
{
    margin:0px;
    padding:0px;
    width:100%;
    height:auto;
}
#submaster
{
    margin:0px;
    padding:0px;
    width:1024px;
    height:100%;
}
.header
{
    position:fixed;
    width:100%;
    height:113px;
    top:0px;
    margin:0 auto;
    z-index:1;
}
.head-mainbg
{
    position:relative;
    float:left;
    background-image:url(/themes/default/images/topbg01.png);
    background-repeat:no-repeat;
    width:1024px;
    height:154px;
}
.submenu
{
    position:absolute;
    float:left;
    width:750px;
    height:25px;
    top:72px;
    left:20px;
    border:0px solid red;
    color:#5ea6bf;
    font-size:15px;
    font-weight:600;
    line-height:20px;
    text-decoration:none;
}
.submenu a
{
    border:0px solid red;
    color:#5ea6bf;
    font-size:15px;
    font-weight:600;
    line-height:20px;
    text-decoration:none;
}
.submenu a:hover
{
    border:0px solid red;
    color:#fff;
    font-size:15px;
    font-weight:600;
    line-height:20px;
    text-decoration:none;
}
.submenu-box
{
    position:relative;
    float:left;
    width:auto;
    height:auto;
    padding:4px;
}
.s1menu1, .s1menu2, .s1menu3, .s1menu4
{
	position:relative;
	float:left;
	width:80px;
	height:25px;
	border:0px  solid red;
	background:url(/themes/default/images/smenu1.png) no-repeat scroll 0px 0px transparent;
       /* cursor: hand; */
        cursor: pointer;

}
.s1menu1-selected
{
	background:url(/themes/default/images/smenu1.png) no-repeat scroll 0px -42px transparent;
}
.s1menu2
{
	width:160px;
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -92px 0px transparent;

}
.s1menu2-selected
{
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -92px -42px transparent;
}
.s1menu3
{
	width:100px;
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -265px 0px transparent;

}
.s1menu3-selected
{
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -265px -42px transparent;
}
.s1menu4
{
	width:90px;
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -378px 0px transparent;

}
.s1menu4-selected
{
	background:url(/themes/default/images/smenu1.png) no-repeat scroll -378px -42px transparent;
}
.search
{
    position:relative;
    float:left;
    width:150px;;
    height:25px;
    top:22px;
    left:30px;
    font-size:15px;
}

.search input:focus
{
    outline:none;
}

.search input
{
    width:230px;
    height:20px;
    font-size:14px;
    font-weight:600;
    color:#CCC;
    text-align:left;
    border:0px;
}

.search_01 input:focus
{
    outline:none;
}

.search_01
{
    position:relative;
    float:left;
    width:150px;;
    height:25px;
    top:22px;
    left:138px;
    font-size:15px;
}

.search_01 input
{
    width:230px;
    height:20px;
    font-size:14px;
    font-weight:600;
    color:#CCC;
    text-align:left;
    border:0px;
}

.headrow1
{
    position:relative;
    float:left;
    width:100%;
    height:45px;
}
.headrow2
{
    position:relative;
    float:left;
    width:100%;
}
.logo
{
    position:relative;
    float:left;
    left:27px;
    width:358px;
    height:40px;
    background:url(/themes/default/images/icons.png) no-repeat scroll 0px -243px transparent;
}
.menu
{
    position:relative;
    float:left;
    width:450px;
    margin-left:29px;
    border:0px solid red;
}
.menu a
{
    /* outline:none; */
}
.menu1
{
    position:relative;
    float:left;
    width:115px;
    height:61px;
    padding-right:11px;
    background-image:url(/themes/default/images/menu1.png);
    background-repeat:no-repeat;
}
.menu1 a
{
    position:relative;
    float:left;
    width:115px;
    height:61px;
    padding-right:11px;
}

.menu1 a:hover
{
    position:relative;
    float:left;
    width:115px;
    height:61px;
    padding-right:11px;
    background-image:url(/themes/default/images/menu1.png);
    background-repeat:no-repeat;
}

.menu2
{
    position:relative;
    float:left;
    width:81px;
    height:61px;
    padding-right:11px;
    background-image:url(/themes/default/images/menu2_over.png);
    background-repeat:no-repeat;
}
.menu2 a
{
    position:relative;
    float:left;
    width:81px;
    height:61px;
    padding-right:11px;
}
.menu2 a:hover
{
    position:relative;
    float:left;
    width:81px;
    height:61px;
    padding-right:11px;
    background-image:url(/themes/default/images/menu2.png);
    background-repeat:no-repeat;
}

.menu3
{
    float:left;
    width:95px;
    height:61px;
    padding-right:11px;
    top: 4px;
    background-image:url(/themes/default/images/menu3_over.png);
    background-repeat:no-repeat;
}
.menu3 a
{
    float:left;
    width:95px;
    height:61px;
    padding-right:11px;
}
.menu3 a:hover
{
    float:left;
    width:95 px;
    height:61px;
    padding-right:11px;
    background-image:url(/themes/default/images/menu3.png);
    background-repeat:no-repeat;
}

.menu4
{
    float:left;
    width:125px;
    height:61px;
    padding-right:0px;
    top:5px;
    background-image:url(/themes/default/images/menu4_over.png);
    background-repeat:no-repeat;
}
.menu4 a
{
    float:left;
    width:125px;
    height:61px;
    padding-right:0px;
}
.menu4 a:hover
{
    float:left;
    width:125px;
    height:61px;
    padding-right:0px;
    background-image:url(/themes/default/images/menu4.png);
    background-repeat:no-repeat;
}
.topmenu
{
    position:relative;
    float:right;
    width:600px;
    font-size:11px;
    text-align:right;
    left:-20px;
    color:#FFF;
    font-weight:600;
    text-decoration:none;
    margin-top:10px;
}
.topmenu a
{
    font-size:11px;
    text-align:left;
    color:#FFF;
    font-weight:600;
    padding:0px 5px 0px 5px;
    text-decoration:underline;
}
.topmenu a:hover
{
    font-size:11px;
    text-align:left;
    color:#F00;
    font-weight:600;
    text-decoration:underline;
}

.contenter
{
    position:relative;
    background-color:#e1dfd5;
    float:none;
    width:1024px;
    height:auto;
    border:0px solid red;
    margin:0 auto;
}
.con-box,.con-box1
{
    position:relative;
    float:left;
    width:100%;
    height:auto;
    margin:0 auto;
    background-image:url(/themes/default/images/main-bg.jpg);
    background-repeat:repeat-y;
}

.con-box1
{
    background-image:url(/themes/default/images/main-bg1.jpg);
    min-height: 710px;
}

.con-left
{
    position:relative;
    float:left;
/*    background-color:red;
*/    width:637px;
    height:auto;
    border:0px solid red;
}
.con-left-bg
{
    float:left;
    background-color:#cacaca;
    width:614px;
    height:30px;
    margin-left: 22px;
}
.con-left-head-txt
{
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 40px;
    line-height: 30px;
    color:#363231;
}
.con-left-head-txt1
{
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 10px;
    line-height: 30px;
    color:#363231;
}
.con-left-link-txt
{
    color: #3E718C;
    float: right;
    font-size: 14px;
    line-height: 35px;
    margin-right: 10px;
    text-decoration:underline;
    font-weight:600;
}
.con-left-link-txt a
{
    color: #3E718C;
    text-decoration:none;
    outline:none;
}
.con-left-link-txt a:hover
{    color:#000;
    text-decoration:none;
}
.Featured-list
{
    float:left;
    width:614px;
    height:310px;
    margin-left: 22px;

}
.Recom-list
{
    float:left;
    width:614px;
    min-height:310px;
    margin-left: 22px;

}
.arrow-buton
{
    float:left;
    width:18px;
    height:28px;
    margin: 125px 0 0 10px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -7px -101px transparent;
    cursor: pointer;
}
.arrow-buton1
{
    position:relative;
    top:120px;
    float:left;
    width:18px;
    height:30px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -35px -101px transparent;
    cursor: pointer;
}
.con-right-bg
{
    background-color: #CACACA;
    float: left;
    height: 30px;
    width: 365px;
}
.con-right
{
    position:relative;
    float:left;
/*    background-color:green;
*/    width:387px;
    height:auto;
    border-right:1px solid grey;
    border:0px solid red;
}
.mthumb-box
{
    border:0px solid red;
    width:555px;
    float:left;
}
.mthum-row {
    display:table-row;
    border:0px solid red;
    float:left;
}
.mthum-row div {
    display:table-cell;
    border:0px solid red;
    text-align:center !important;
   *display:inline-block;
   *float:left;
}
.mthum-two{
background-color:#00FF33;
vertical-align:bottom;
}
.thum-img-box
{
    position:relative;
    float:left;
    margin:0px 0px;
    width:138px;
    height:280px;
    *width:137px;
}
.thum-txt {
    vertical-align: bottom;
    width:140px;
    height:36px;
    font-size:12px;
    font-weight:600;
    text-align:center;
    color:#686565;
    *display:inline-block;
    *font-size:11px;
    *margin-top:5px;
    *width: 138px;
}
.thum-txt * {
    vertical-align: middle;
    color:#686565;
}

.thum-txt span
{
    display: inline-block;
    height: 100%;
    color:#686565;
}

.thum-img
{
    position:relative;
    width:150px;
    height:158px;
}
.doit-button
{
    float: left;
    height: 26px;
    margin-left:12px;
    position: relative;
    width: 111px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -6px -202px transparent;
}
.interest-button
{
    position:relative;
    float:left;
    width:105px;
    height:25px;
    left: 20px;
    margin-top:5px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -2px -73px transparent;
}
.interest-button a
{
    position:relative;
    float:left;
    width:105px;
    height:25px;
}
.interest-button a:hover
{
    position:relative;
    float:left;
    width:105px;
    height:25px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -2px -49px transparent;
}

.interest-button-over
{
    position:relative;
    float:left;
    width:96px;
    height:25px;
    left: 10px;
    margin-top:5px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -2px -49px transparent;
}

.star-button
{
    float: left;
    left: 15px;
    position: relative;
    width: 120px;
}
.star-button-yellow
{
    position:relative;
    float:left;
    width:20px;
    height:20px;
    padding-left:2px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -55px -23px transparent;
    cursor: pointer;
}
.star-button-grey
{
    position:relative;
    float:left;
    width:20px;
    height:20px;
    padding-left:2px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -3px -23px transparent;
    cursor: pointer;
}
.star-button-blue
{
    position:relative;
    float:left;
    width:20px;
    height:20px;
    padding-left:2px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -30px -23px transparent;
    cursor: pointer;
}
.link-txt span{
    display: table-cell;
    text-align: left !important;
    vertical-align: middle;
    width:120px;
    font-size:10px;
    font-weight:600;
    color:#535353;
}
.link-txt{
    vertical-align: middle;
    width:120px;
    font-size:10px;
    font-weight:600;
    color:#535353;
    padding-left: 25px;
}

.link-txt a
{
    color:#3e718c;
    text-decoration:underline;
    font-family: Helvetica, Arial, Chaparral Pro, lucida grande, verdana, sans-serif;
}
.link-txt a:hover
{
    color:#3e718c;
    text-decoration:underline;
}
/*Right side Start*/
.con-right-ro1
{
    position:relative;
    float:left;
    background-color:#eeeeee;
    width:94%;
    height:100px;
    border-bottom:1px solid #d1d1d1;
}
.con-right-ro2
{
    position:relative;
    float:left;
    background-color:#eeeeee;
    width:94%;
    height:130px;
    border-bottom:1px solid #d1d1d1;
}
.con-right-row4
{
    position:relative;
    float:left;
    background-color:#eeeeee;
    width:94%;
    min-height:437px;
    border-bottom:1px solid #d1d1d1;
}
.rg-thum-img
{
    position:relative;
    float:left;
    width:100%;
    height:81px;
    border-bottom:1px solid #d1d1d1;
    margin-top:5px;
}
.rg-thum-img-cel1
{
    position:relative;
    float:left;
    width:58px;
    height:60px;
    background:transparent url(/themes/default/images/icon-right.png) no-repeat scroll -7px -6px;
}
.rg-thum-img-cel12
{
    position:relative;
    float:left;
    width:67px;
    height:60px;
    background:transparent url(/themes/default/images/icon-right.png) no-repeat scroll -78px -4px;
}
.rg-thum-iconbox
{
    position:relative;
    float:left;
    height:60px;
    width:70px;
    left:10px;
}
.rg-thum-img-cel2
{
    position:relative;
    float:left;
    width:40px;
    height:30px;
    background:url(/themes/default/images/thumb-icon.png) no-repeat scroll -47px 0px transparent;
    margin-left:-11px;
    margin-top:10px;
    cursor: pointer;
}
.rg-thum-img-cel22
{
    position:relative;
    float:left;
    width:40px;
    height:30px;
    background:url(/themes/default/images/thumb-icon.png) no-repeat scroll 0px -2px transparent;
    margin-left:-11px;
    margin-top:10px;
}
.rg-thum-img-cel3
{
    background:url(/themes/default/images/thumb-icon.png) no-repeat scroll -95px 0px transparent;
    float:left;
    height:30px;
    margin-left:-11px;
    margin-top:10px;
    position:relative;
    width:50px;
    cursor: pointer;
}
.rg-thum-img-cel33
{
    background:url(/themes/default/images/thumb-icon.png) no-repeat scroll -140px -2px transparent;
    float:left;
    height:30px;
    margin-left:-11px;
    margin-top:10px;
    position:relative;
    width:50px;
}
.rg-thum-img-cel4
{
    position:absolute;
    float:left;
    height:20px;
    width:65px;
    top:40px;
    font-size:12px;
    font-weight:800;
    color:#6c6968;
    text-align:center;
    border:0px solid red;
    *margin-left:-75px;
}
.rg-thum-content
{
    position:relative;
    float:left;
    height:auto;
    width:222px;
    border:0px solid red;
    font-size:12px;
    text-align:left;
    left:10px;
}
.radio-button
{
    position:relative;
    float:left;
    width:100px;
    text-align:left;
    margin:5px;
    font-size: 12px;
    font-weight:600;
    line-height: 21px;
    color:#363231;
}
.radio-button-right
{
    position:absolute;
    float:left;
    width:100px;
    text-align:left;
    top:100px;
    left:250px;
    height:25px;
    font-size:11px;
    color:#363231;
    background:url(/themes/default/images/icons.png) no-repeat scroll 27px -140px transparent;
    cursor: pointer;
}
.skip-txt
{
    position:absolute;
    text-align:left;
    top:108px;
    left:250px;
    font-size:11px;
    font-weight:600;
    color:#3e718c;
}
.skip-txt a
{
    text-align:left;
    font-size:11px;
    text-decoration:underline;
    font-weight:600;
    color:#3e718c;
}
.skip-txt a:hover
{
    text-align:left;
    font-size:11px;
    text-decoration:underline;
    font-weight:600;
    color:#3e718c;
}

.head-txt
{
    font-size:18px;
    font-weight:bold;
    color:#363231;
    text-align:left;
    line-height:28px;
    margin-left:55px;
}
.head-txt1
{
    font-size:18px;
    font-weight:bold;
    color:#363231;
    text-align:left;
    line-height:28px;
    margin-left:5px;
}
.offer-icon
{
	position:absolute;
	float:left;
	left:75px;
	top:160px;
	height: 56px;
	width:60px;
	border:opx solid red;
	background:url(/themes/default/images/icons.png) no-repeat scroll -194px -188px transparent;
	font-size:14px;
	font-weight:bold;
	line-height:40px;
        text-align: center;
	}

.heading-txt
{
    font-size:14px;
    font-weight:bold;
    color:#363231;
    text-align:left;
    margin:10px;
}
.progressBar
{
    width:300px;
    height:20px;
    border:1px solid #556469;
    background-color:#cacaca;
}
.progressBarGreen
{
    width:50px;
    height:20px;
    background-color:#5ea6bf;
    float:left;
}
.progressBarGrey
{
    text-align:left;
}

.bar-bottom-txt
{
    font-size:11px;
    text-align:right;
    color:#363231;
    margin:10px 27px;
    font-weight:600;
    text-decoration:none;
}
.bar-bottom-txt a
{
    font-size:11px;
    text-align:center;
    color:#3e718c;
    text-decoration:underline;
}
.bar-bottom-txt a:hover
{
    font-size:11px;
    text-align:center;
    color:#3e718c;
    text-decoration:underline;
}
/*Right Side End*/
.footer
{
    position:fixed;
    width:100%;
    height:auto;
    bottom:0px;
    left: 0px;
}
.footer-topbg
{
    position:relative;
    background-image:url(/themes/default/images/fotter-top-bg.png);
    background-repeat:repeat-x;
    width:100%;
    height:34px;
    bottom:0px;
}
.footer-middle
{
    position:relative;
    background-image:url(/themes/default/images/footer-middle-bg.jpg);
    background-repeat:repeat-x;
    width:100%;
    height:132px;
}
.footer-control
{
    margin:auto;
    width:530px;
}

.footer-cel1
{
    position:relative;
    float:left;
    width:140px;
    height:120px;
    border-right:1px solid #FFFFFF;
}
.footer-cel2
{
    position:relative;
    float:left;
    width:160px;
    height:120px;
    left:20px;
    border-right:1px solid #FFFFFF;
}
.footer-cel3
{
    position:relative;
    float:left;
    width:160px;
    height:120px;
    left:40px;
    border-right:0px solid #FFFFFF;
}

.footer-header-txt
{
    position:relative;
    float:left;
    font-size:14px;
    color:#FFF;
    font-weight:600;
    width:100%;
}
.footer-lefticon1
{
    position:relative;
    float:left;
    width:30px;
    height:100px;
    top:8px;
    left:20px;
    background:url(/themes/default/images/footer-icons.png) no-repeat scroll 0px -2px transparent;
}
.footer-lefticon2
{
    position:relative;
    float:left;
    width:30px;
    height:100px;
    top:8px;
    left:20px;
    background:url(/themes/default/images/footer-icons.png) no-repeat scroll -40px -2px transparent;
}

.footer-input-box
{
    position:relative;
    float:left;
    width:110px;
    left:22px;
    top:4px;
}
.footer-input1
{
    position:relative;
    float:left;
    width:70px;
    height:15px;
    top:4px;
}
.footer-input12
{
    background:url(/themes/default/images/footer-icons.png) no-repeat scroll -23px -104px transparent;
    float: left;
    height:33px;
    position: relative;
    top: 4px;
    width: 108px;
}

.footer-input12 input
{
    float: left;
    width: 50px;
}

.footer-input13
{
    background:url(/themes/default/images/footer-icons.png) no-repeat scroll 20px -1px transparent;
    float: left;
    height:25px;
    position: relative;
    top: 4px;
    width:137px;
}


.footer-input13 input
{
    float: left;
    width: 90px;
    height: 15px;
}

.footer-input-option
{
    position:relative;
    float:left;
    width:25px;
    height:15px;
    background:url(/themes/default/images/footer-icons.png) no-repeat scroll -85px -37px transparent;
}
.footer-menu
{
    position:relative;
    float:left;
    padding-top:5px;
}
.footer-white-txt
{
    position:relative;
    width:60px;
    float:left;
    font-size:12px;
    color:#FFF;
    font-weight:600;
}
.footer-input2
{
    position:relative;
    float:left;
    width:70px;
    height:15px;
    top:22px;
}
.footer-input3
{
    position:relative;
    float:left;
    width:70px;
    height:15px;
    top:40px;
}
.footer-bottombg
{
    position:relative;
    width:100%;
    height:34px;
    background-color:#5ea6bf
}
.your-personal-button
{
/*
    float:left;
    top:-20px;
    left:35%;*/
    width:350px;
    height:43px;
    margin:0px auto;
    top:-20px;
    position:relative;

}
.your-personal-button a
{
    position:relative;
    float:left;
    width:350px;
    height:43px;
    outline:none;
}
.footerlink
{
    position:relative;
    float:left;
    font-size:12px;
    color:#363231;
    font-weight:600;
    text-align:center;
    width:100%;
    padding-left:10px;
    padding-right:10px;
        padding-top: 10px;
    text-decoration:none;
}
.footerlink a
{
    font-size:12px;
    color:#363231;
    text-align:center;
    padding-left:10px;
    padding-right:10px;
    text-decoration:none;
}
.footerlink a:hover
{
    font-size:12px;
    color:#FFF;
    text-align:center;
    text-decoration:underline;
    padding-left:10px;
    padding-right:10px;
}
.blankdiv
{
    position:relative;
    float:left;
    width:100%;
    height:75px;
}

                                                /*************************************Create Account START**************************************/
.create-ac-box
{
    position:relative;
    float:left;
    width:588px;
    height:341px;
    border:0px solid red;
}

#signupBox
{
    position:absolute;
    z-index: 999;
    overflow: auto;
    float:left;
    width:588px;
    height:352px;
    border:0px solid red;
    display: none;
    top: 0px;
    left: 0px;
}

.create-ac-head
{
    position:relative;
    float:left;
    width:100%;
    height:53px;

}
.create-ac-leftbg
{
    position:relative;
    float:left;
    width:20px;
    height:53px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll 0px 2px transparent;
}
.create-ac-middlebg
{
    position:relative;
    float:left;
    width:523px;
    height:51px;
    top:2px;
    background-image:url(/themes/default/images/Create-account-tbg.png);
    background-repeat:repeat-x;
}
.create-ac-rightbg
{
    position:relative;
    float:left;
    width:45px;
    height:53px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -51px 2px transparent;

}
.create-ac-close
{
    position:absolute;
    float:left;
    left: 545px;
    width:30px;
    height:31px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -91px -12px transparent;
    cursor: pointer;
}
.create-ac-centerbg
{
    position:relative;
    float:left;
    width:580px;
    min-height:243px;
    background-image:url(/themes/default/images/Create-account-centerbg.png);
    background-repeat:repeat-y;
}
.create-ac-bottombg
{
    position:relative;
    float:left;
    width:583px;
    min-height:50px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -302px -10px transparent;
}
.create-ac-left
{
    position:relative;
    float:left;
    width:39%;
    height:auto;
    margin:20px;
}
.create-ac-right
{
    position:relative;
    float:left;
    width:50%;
    height:auto;
    border:0px solid red;
    top:20px;
}
.create-ac-input1
{
    position:relative;
    float:left;
}

.create-ac-input1 input:focus
{
    outline:none;
}

.create-ac-input2
{
    position:relative;
    float:left;
    top:20px;
}

.create-ac-input2 input:focus
{
    outline:none;
}

.create-ac-input3
{
    position:relative;
    float:left;
    top:44px;
    font-size:12px;
    font-weight:600;
    color:#757575;
    width: 100%;
}

.create-ac-input3 input:focus
{
    outline:none;
}
.create-ac-input4
{
    position:relative;
    float:left;
    width:162px;
    height:29px;
    border:0px solid red;
    top:38px;
}

.create-ac-input4 input:focus
{
    outline:none;
}
.create-ac-txt,.forgot-txt
{
    position:relative;
    float:left;
    font-size:11px;
    color:#6c6c6c;
}
.heading-txt input:focus
{
    outline:none;
}
.forgot-txt
{
	line-height:25px;
}
.forgot-row-mid
{
	width:330px;
}
.forgot-row-m1
{
    width:203px;
    height:71px;
    border:1px solid #aeadad;
    float:left;
}
.forgot-row-m2
{
    float: left;
    margin-top: 9px;
    width:150px;
}
.forgot-row-m3
{
    background:url(/themes/default/images/icons.png) no-repeat scroll -263px -64px transparent;
    float: left;
    height: 29px;
    margin-left: 57px;
    margin-top: 10px;
    width: 79px;
    cursor: pointer;
}
.forgot-row-m2 input
{
	width:150px;
}
.forgot-box
{
	top:10px !important;
}
.forgot-row-m2 input
{
	width:183px !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
}

.forgot-row-m2 input:focus
{
    outline:none;
}
.forgot-close-but
{
    position:absolute;
    float:left;
    left: 0px;
    width:30px;
    height:31px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -91px -12px transparent;
    cursor: pointer;

}

.create-forgot-box
{
    position:relative;
    float:left;
    border:0px solid red;
}
.create-ac-login
{
     position:relative;
     float:left;
    font-size:11px;
    color:#538ea3;
    text-decoration:underline;
}
.create-ac-create-but
{
    position:relative;
    float:left;
    width:105px;
    height:23px;
    left:12px;
    *left:4px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -132px -4px transparent;
    cursor: pointer;
}



                                                /**************************************Create Account END**************************************/
                                                /************************************** Sign in START **************************************/

#loginBox, #forgotBox
{
    position:absolute;
    z-index: 999;
    overflow: auto;
    float:left;
    width:351px;
    height:302px;
    border:0px solid red;
    display: none;
    top:0px;
    left:0px
}
.sign-in-leftbg
{
    position:relative;
    float:left;
    width:20px;
    height:53px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll 0px 2px transparent;
}

.sign-in-create-account
{
    font-size:12px;
    *font-size:11px !important;
    color:#538ea3;
    text-decoration:underline;
}

body:nth-of-type(1) .sign-in-create-account
{
    font-size:11px;
    color:#538ea3;
    text-decoration:underline;
}

.sign-in-input3
{
    position:relative;
    float:left;
    top:40px;
    font-size:11px;
    *font-size:10px;
    font-weight:600;
    color:#757575;
    width: 100%;
    text-align: left;
}

.forgot-input2
{
    position:relative;
    float:left;
    top:9px;
    font-size:12px;
    font-weight:600;
    color:#757575;
    width: 100%;
    text-align: left;
}

.sign-in-centerbg
{
    position:relative;
    float:left;
    width:346px;
    min-height:185px;
    background-image:url(/themes/default/images/sign-in-bg-rep.png);
    background-repeat:repeat-y;
}
.sign-in-middlebg
{
    position:relative;
    float:left;
    width:285px;
    height:51px;
    top:2px;
    background-image:url(/themes/default/images/Create-account-tbg.png);
    background-repeat:repeat-x;
}
.sign-in-rightbg
{
    position:relative;
    float:left;
    width:40px;
    height:53px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -51px 2px transparent;

}
.sign-in-bottombg
{
    position:relative;
    float:left;
    width:346px;
    height:57px;
    background:url(/themes/default/images/sign-in-botom-bg.png) no-repeat scroll -2px -15px transparent;
}
.sign-in-right, .forgot-box
{
    position:relative;
    float:left;
/*    width:93%;*/
    height:auto;
    border:0px solid red;
    top:8px;
    left:12px;
    width:330px;
}
.sign-in-button
{
    background:url(/themes/default/images/icons.png) no-repeat scroll -263px -98px transparent;
    position:relative;
    float: left;
    margin-top: 20px;
    left: 238px;
    cursor: pointer;
    height: 29px;
    width: 79px;
}
.sign-in-input4
{
    position:relative;
    float:left;
    width:162px;
    height:29px;
    border:0px solid red;
    clear: both;
    margin-top: -10px;
}
.login-close
{
    position:absolute;
    float:left;
    left: 306px;
    width:30px;
    height:31px;
    background:url(/themes/default/images/Create-account.png) no-repeat scroll -91px -12px transparent;
    cursor: pointer;
}

                                                /************************************** Sign in END **************************************/

                                                /**************************************Input styles START**************************************/
.create-ac-right input
{
    width:270px;
    height:28px;
    padding-left: 10px;
    padding-right: 10px;
    font-size:15px;
    font-weight:600;
    color:#a9a9a9;
    border:1px solid #a9a9a9;
}
.sign-in-right input
{
    width:295px;
    padding-left: 10px;
    padding-right: 10px;
    height:28px;
    font-size:15px;
    font-weight:600;
    color:#a9a9a9;
    border:1px solid #a9a9a9;
}
.forgot-box input
{
	width:270px;
        padding-left: 10px;
        padding-right: 10px;
	height:28px;
	font-size:15px;
	font-weight:600;
	color:#a9a9a9;
	border:1px solid #a9a9a9;
}

                                                /**************************************Input styles END**************************************/
                                                /**************************************TEXT Styles START**************************************/
.create-ac-head-txt
{
    font-size:26px;
    line-height:50px;
    color:#FFF;
    text-align:left;
}
                                                /**************************************TEXT Styles END**************************************/

#your-personal-button{
cursor: pointer;
border:1px solid red;
}


.h15{
    height: 15px;
}

.clear{
    clear:both;
}

/************** Message in START *********************/
#messageBox
{
    position:absolute;
    z-index: 999;
    overflow: auto;
    float:left;
    width:346px;
    height:302px;
    border:0px solid red;
}
.errorMsg {
/*    color: #FF0000;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin-left: 12px;
    padding-top: 5px;
    position: relative;*/
}
.errorMsg1 {
/*    color: #FF0000;
    float: left;
    font-size: 12px;
    font-weight: 600;
    margin-left: 0px;
    padding-top: 0px;
    padding-bottom: 2px;
    position: relative;*/
}




/************** Message in END *********************/
/***************** For Chrome  Start*********************/

@media screen and (-webkit-min-device-pixel-ratio:0)
{
    @font-face
    {
        font-family: Arial;
        src: url('themes/default/images/arial.ttf');
        font-weight:600;
    }

    .thum-txt {
        font-size: 12px;
        font-weight: 600;
    }

    .create-ac-create-but
    {
        left:4px;
    }
}

/***************** For Chrome End*********************/
/***************** For Coming SOON *********************/
.coming-soon {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    width:1000px;
    height:345px;
}
.coming-soon * {
    vertical-align: middle;
}
/*\*//*/
.coming-soon {
    display: block;
}
.coming-soon span {
    display: inline-block;
    height: 100%;
    width: 1px;
}
/**/

.coming-soon span
{
    display: inline-block;
    height: 100%;
}
.offer-icon
{
    position:absolute;
    float:left;
    left:75px;
    top:160px;
    height: 56px;
    width:60px;
    border:opx solid red;
    background:url(/themes/default/images/icons.png) no-repeat scroll -194px -188px transparent;
    font-size:14px;
    font-weight:bold;
    line-height:40px;
    text-align: center;
}

.dropdown-bg
{
    position:relative;
    float:left;
    right:230px;
    background:url(/themes/default/images/icons.png) no-repeat scroll -6px -172px transparent;
    background-repeat:no-repeat;
    width:108px;
    height:22px;
    margin: 5px 0 0 242px;
    color:#FFF;
    font-size:14px;
    font-weight:600;
    text-align:left;
    line-height: 18px;

    }

.fb_button, .fb_button_rtl  {
background: url(/themes/default/images/Create-account.png) no-repeat scroll -130px -29px transparent !important;

    border: 0 solid red;
    float: left;
    height: 29px;
    position: relative;
    top: 20px;
    width: 162px;

}

.fb_button .fb_button_text, .fb_button_rtl .fb_button_text {
    background:none !important;
    border-bottom: 0px !important;
    border-top: 0px !important;
    color: #FFFFFF !important;
    display: block !important;
    font-weight: bold!important;
    margin: 0px !important;
    padding: 0px !important;
    text-shadow: none !important;
}

/******* css code for error messages    Dated - 11 jan 2011 *******/
.top-Msg-window,.top-Msg-window-r
{
	position:absolute;
	width:1024px;
	height:58px;
	background-image:url(/themes/default/images/topmsg-bg.jpg);
	background-repeat:repeat-x;
}
.top-Msg-window-icon,.top-Msg-window-icon-r
{
	float:left;
	width:50px;
	height:50px;
	margin-left:10px;
	background:url("/themes/default/images/icons.png") no-repeat scroll -198px -3px transparent;
}
.top-Msg-window-txt,.top-Msg-window-txt-r
{
	width:700px;
	font-size:18px;
	font-weight:800;
	text-align:left;
	line-height: 27px;
}

.top-Msg-window-close,.top-Msg-window-close-r
{
	float:right;
	width:50px;
	height:27px;
	margin-top: -49px;
	background:url("/themes/default/images/icons.png") no-repeat scroll -196px -62px transparent;
}

.top-Msg-window-s
{
	font-size:12px;
	font-weight:600;
	color:#596038;
}

.top-Msg-window-r
{

        background-image:url(/themes/default/images/topmsg-bg1.jpg);
        position:relative;
        float:left;
        text-align:left;
}
.top-Msg-window-icon-r
{
	background:url(/themes/default/images/icons.png) no-repeat scroll -254px -3px transparent;
}
.top-Msg-window-close-r
{
	background:url(/themes/default/images/icons.png) no-repeat scroll -196px -115px transparent;
}
.top-mg-link
{
	color:#c16464;
	text-decoration:underline;
}
.top-mg-link a
{
	color:#c16464;
	text-decoration:underline;
}

.headrow
{
	position:relative;
	float:left;
	width:100%;
	height:58px;
}

.arrow-down, .arrow-up
{
    background: url(/themes/default/images/icons.png) no-repeat scroll -81px -23px transparent;
    border: 0 solid red;
    float: left;
    height: 24px;
    left: 282px;
    position: absolute;
    top: 10px;
    width: 20px;
    cursor: pointer;
}
.arrow-up
{
    background: url(/themes/default/images/icons.png) no-repeat scroll -106px -23px transparent;
}

.sign-in-txt
{
    font-size: 11px;
}

												/************************************** My Account START **************************************/

.my_acc_head,.my_acc_right_head
{
	font-size:18px;
	color:#000000;
	outline:none;
	padding:18px 0px 20px 32px;
	float:left;
	width:603px;
	text-align:left;
	font-weight:600;
}
.my_acc_right_head
{
	padding:18px 0px 20px 10px;
	float:left;
	width:300px;
}
.my_acc_left_col
{
	background-color:#e8e8e8;
	padding:10px 20px 10px 20px;
	float:left;
	width:565px;
	text-align:left;
	margin-left:22px;
}
.my_acc_sub_head
{
	font-size:14px;
	color:#000000;
	outline:none;
	padding:0px 0px 14px 0px;
	float:left;
	width:100%;
	text-align:left;
	font-weight:bold;
}
.my_acc_sub_text,.my_acc_sub_fill
{
	font-size:12px;
	color:#000000;
	float:left;
	width:156px;
	text-align:left;
	font-weight:bold;
}
.my_acc_sub_fill
{
	width:400px;
	text-align:left;
	font-weight:normal;
	outline:none;

}
.my_acc_link_text
{
	font-size:12px;
	color:#000000;
	float:Right;
	outline:none;
	text-decoration: none;
}

.my_acc_link_text a{
	font-size:12px;
	color:#2591b7;
	text-decoration: underline;
}
.my_acc_link_text a:hover
{
	font-size:12px;
	color:#2591b7;
	text-decoration: underline;
}
.my_acc_section_space
{
	float:left;
	height:10px;
	width:100%;
}
.my_acc_section_sep
{
	float:left;
	border-bottom:1px solid #cdcccc;
	width:600px;
	margin:10px 0px;
	margin-left:-13px;}

.my_acc_right_bold_sub,.my_acc_right_sub_fill
{
	font-size:12px;
	color:#000000;
	float:left;
	width:140px;
	text-align:left;
	font-weight:bold;
	padding-left:23px;
}
.my_acc_right_sub_fill
{
	width:200px;
	font-weight:normal;
	outline:none;
}
.my_acc_right_sep
{
	float:left;
	border-bottom:1px solid #cdcccc;
	width:365px;
	margin:10px 0px;}

.my_acc_purches_history
{
	float:left;
	width:154px;
	margin:20px 0px 20px 180px;
	text-align:right;
}
/************************************** My Account END **************************************/


#createNewPlaylist
{
    position:absolute;
    z-index: 999;
    overflow: auto;
    float:left;
    width:400px;
    height:auto;
    border:0px solid red;
    display: none;
    top:0px;
    left:0px
}


/*******safari and opera coding start*********/

html[xmlns*=""].create-ac-create-but
    {
        left:40px;
    }

/*******safari and opera coding end*********/






/**** 24 jan 2011 accountsection css classes start here ***/

.accountLeftHeadTxt{
	float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 7px;
	line-height: 30px;
	color:#363231;
}

.accountSectionLightGrayBg{
	background-color:#DEDEDE;
	float:left;
	height:26px;
	margin-left:22px;
	padding-top:7px;
	width:614px;
	}

.accountLeftSubTitleTxts{
	color:#363231;
	font-size:15px;
	font-weight:bold;
	float:left;
	margin-left:7px;
	text-transform:uppercase;
	}

.accountSectionInnerLayout{
	background-color:#f2f2f3;
	float:left;
	margin-left:22px;
	width:614px;
	/*padding-top:7px;
	padding-bottom:7px;*/
	}

.accountSectionInnerLayout1{
	background-color:#f2f2f3;
	float:left;
	margin-left:22px;
	width:614px;
	padding-top:7px;
	border-top:2px solid #dedede;
	}
.accountSectionInnerLayout a {
      color:#3B7F97;
}
.emailPasswodUsernameHeadBg{
	float:left;
	width:16%;
	margin-left:7px;

	}

.emailPasswodUsernameHeadText{
	font-size:12px;
	font-weight:bold;
	margin-left:3px;
	color:#363231;
	text-decoration:none;
	text-align:left;
	line-height:22px;
	}

.emailPasswodUsernameHeadTextNormal{
	font-size:12px;
	margin-left:3px;
	color:#363231;
	text-decoration:none;
	text-align:left;
	line-height:22px;
	}
.emailPasswodUsernamesBg{
	float:left;
	width:24%;
	margin-left:7px;
	}

.emailPasswodUsernameText{
	font-size:12px;
	font-weight:normal;
	margin-left:3px;
	color:#363231;
	text-decoration:none;
	text-align:left;
	line-height:22px;
	}

.emailPasswodUsernamesEdiBg{
	float:left;
	width:30%;
	margin-left:7px;
	padding-bottom:7px;
	}

.emailPasswodUsernamesEditText{
	font-size:12px;
	font-weight:normal;
	margin-left:7px;
	color:#3b7f97;
	text-decoration:underline;
	text-align:left;
	line-height:22px;
	}

.accountSectionrightTopHeadBg{
	background-color:#cacaca;
	height:30px;
	width:365px;
	float:left;
	margin-left:0px;
	padding-top:0px;
	padding-bottom:8px;
	}
.accountRightHeadTxt{
	float: left;
    font-size: 18px;
    font-weight: 600;
    margin-left: 7px;
	line-height: 30px;
	color:#363231;
	width:68%;
	text-align:left;
	}

.haveAQuestionText{
	font-size:12px;
	color:#000;
	text-align:left;
	color:#3b7f97;
	text-decoration:underline;
	float:left;
	padding-top:5px;
	padding-bottom:5px;
	}

.accountSectionrightDropDowndBg{
	background-color:#cacaca;
	height:41px;
	width:365px;
	float:left;
	margin-left:0px;
	padding-top:5px;
	border-top:2px solid #b0acaa;
	}

.dropDownBg{
	float:left;
	margin-left:7px;
	width:100%;
	padding-top:5px;
	background:url((/themes/default/images/inner-page-img.png) no-repeat scroll -72px -258px transparent;
	height:35px;
	}

.dropDownText{
	font-size:14px;
	font-weight:bold;
	color:#FFFFFF;
	padding-top:7px;
	text-align:left;
	padding-left:13px;
	}

.accountSectionNormalText{
	font-size:14px;
	color:#000;
	font-weight:normal;
	padding-top:5px;
	}

.accountSectionBlueTitle{
	font-size:24px;
	color:#5ea6bf;
	font-weight:bold;
	padding-top:5px;
	padding-left:11px;
	float:left;
	width:100%;
	text-align:left;
	}

.accountSectionNormalText{
	font-size:14px;
	color:#363231;
	font-weight:normal;
	padding-top:5px;
	padding-left:11px;
	float:left;
	width:100%;
	text-align:left;
	}